/*
    Index CSS
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Unica+One&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #6DA0B3;
    min-width: 350px;
}

.modal-dialog {
    width: 760px;
    transition: bottom .75s ease-in-out;
  }

#capitalize {
    color: #205366;
    font-family: 'Unica One', cursive;
    font-size: 2.25rem;
}

.login-figure {
    text-align: center;
    margin: 0 !important;
}

.login-image {
    width: 300px;
}

.center-content {
    align-items: center;
}

.intro-text {
    color: white;
    text-align: center;
}

.btn-registro {
    background-color: #6DA0B3;
    border: none;
    color: white;
}

.btn-registro:hover {
    background-color: white;
    border: none;
    color: #6DA0B3;
}

.btn-login {
    background-color: white;
    border-color: #6DA0B3;
    color: #6DA0B3;
}

.header-gratuito {
    background-color: #205366;
    color: white;
}

.nav-link,
header a {
    color: white !important;
    text-decoration: none;
}

a.small {
    color: #205366;
    text-decoration: none;
}

.small a {
    color: #205366;
    text-decoration: none;
}
.text-muted {
    color: white !important;
}

.btn-outline-primary {
    background-color: white;
    border-color: #205366;
    color: #205366;
}

.btn-outline-primary:hover {
    background-color: #205366;
    border: none;
    color: white;
}
