:root {
  --primary: #8CCEE6;
  --secondary-light: #48BFEA;
  --secondary: #205366;
  --neutra: #3E5B66;
  --neutra-light: #6DA0B3;
  --background-color: whitesmoke;
}

body {
  width: 100%;
  height: 100vh;
}

.sidebar {
  position: absolute;
  width: 280px;
  height: calc(100% - 71px);
}

#content {
  padding: 15px;
  margin-left: 280px;
  background-color: var(--background-color);
  height: calc(100% - 71px);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}
